<a href="https://colab.research.google.com/github/Gprieto88/datasci_1_loading/blob/main/datasci_1_loading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Pandas data loading

## examples with CSV files

In [18]:
## Loading in the first file
first_csv = pd.read_csv('https://storage.googleapis.com/covid19-open-data/v3/hospitalizations.csv')

In [19]:
first_csv

,date,location_key,new_hospitalized_patients,cumulative_hospitalized_patients,current_hospitalized_patients,new_intensive_care_patients,cumulative_intensive_care_patients,current_intensive_care_patients,new_ventilator_patients,cumulative_ventilator_patients,current_ventilator_patients
0,0022-01-10,AR,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,0022-01-20,AR,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,0202-03-30,AR,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,0221-07-06,AR,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1202-01-07,AR,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1768480,2022-09-11,US_WY,3.0,10754.0,13.0,NaN,NaN,3.0,NaN,NaN,NaN
1768481,2022-09-12,US_WY,4.0,10758.0,16.0,NaN,NaN,3.0,NaN,NaN,NaN
1768482,2022-09-13,US_WY,7.0,10765.0,16.0,NaN,NaN,2.0,NaN,NaN,NaN
1768483,2022-09-14,US_WY,7.0,10772.0,22.0,NaN,NaN,3.0,NaN,NaN,NaN
1768484,2022-09-15,US_WY,7.0,10779.0,22.0,NaN,NaN,3.0,NaN,NaN,NaN

In [20]:
first_csv.columns

Index(['date', 'location_key', 'new_hospitalized_patients',
       'cumulative_hospitalized_patients', 'current_hospitalized_patients',
       'new_intensive_care_patients', 'cumulative_intensive_care_patients',
       'current_intensive_care_patients', 'new_ventilator_patients',
       'cumulative_ventilator_patients', 'current_ventilator_patients'],
      dtype='object')

In [21]:
## Loading in second file
second_csv = pd.read_csv('https://storage.googleapis.com/covid19-open-data/v3/by-sex.csv')

In [22]:
second_csv

,date,location_key,new_confirmed_male,new_confirmed_female,cumulative_confirmed_male,cumulative_confirmed_female,new_deceased_male,new_deceased_female,cumulative_deceased_male,cumulative_deceased_female,...,cumulative_hospitalized_patients_male,cumulative_hospitalized_patients_female,new_intensive_care_patients_male,new_intensive_care_patients_female,cumulative_intensive_care_patients_male,cumulative_intensive_care_patients_female,new_ventilator_patients_male,new_ventilator_patients_female,cumulative_ventilator_patients_male,cumulative_ventilator_patients_female
0,0022-01-10,AR,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,0022-01-20,AR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,0202-03-30,AR,NaN,1.0,0.0,1.0,NaN,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3,0221-07-06,AR,NaN,0.0,0.0,1.0,NaN,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,1202-01-07,AR,NaN,1.0,0.0,2.0,NaN,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3848335,2020-08-07,US_MA,201.0,205.0,52978.0,65464.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3848336,2020-08-08,US_MA,175.0,223.0,53153.0,65687.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3848337,2020-08-09,US_MA,163.0,164.0,53316.0,65851.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3848338,2020-08-10,US_MA,129.0,138.0,53445.0,65989.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3848339,2020-08-11,US_MA,167.0,232.0,53612.0,66221.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
second_csv.columns

Index(['date', 'location_key', 'new_confirmed_male', 'new_confirmed_female',
       'cumulative_confirmed_male', 'cumulative_confirmed_female',
       'new_deceased_male', 'new_deceased_female', 'cumulative_deceased_male',
       'cumulative_deceased_female', 'new_recovered_male',
       'new_recovered_female', 'cumulative_recovered_male',
       'cumulative_recovered_female', 'new_tested_male', 'new_tested_female',
       'cumulative_tested_male', 'cumulative_tested_female',
       'new_hospitalized_patients_male', 'new_hospitalized_patients_female',
       'cumulative_hospitalized_patients_male',
       'cumulative_hospitalized_patients_female',
       'new_intensive_care_patients_male',
       'new_intensive_care_patients_female',
       'cumulative_intensive_care_patients_male',
       'cumulative_intensive_care_patients_female',
       'new_ventilator_patients_male', 'new_ventilator_patients_female',
       'cumulative_ventilator_patients_male',
       'cumulative_ventilator_patients_female'],
      dtype='object')

## Pandas Data Loading

# examples with JSON files

In [11]:
import pandas as pd

## Loading in the first file
first_file = pd.read_json('https://data.sfgov.org/api/views/nxjg-bhem/columns.json')

In [12]:
first_file

,id,name,dataTypeName,description,fieldName,position,renderTypeName,tableColumnId,cachedContents,format
0,556036482,reportdate,calendar_date,The date the hospital census was taken,reportdate,1,calendar_date,97761018,"{'non_null': '4792', 'largest': '2023-08-26T00...",{'view': 'date_ymd'}
1,556036483,hospital,text,The hospital represented in the row of data,hospital,2,text,97761019,"{'non_null': '4792', 'largest': 'All SF Hospit...",{}
2,556036484,dphcategory,text,Indicates whether the count refers to patients...,dphcategory,3,text,97761020,"{'non_null': '4792', 'largest': 'Med/Surg', 'n...",{}
3,556036485,covidstatus,text,Indicates whether the count refers to patients...,covidstatus,4,text,97761021,"{'non_null': '4792', 'largest': 'PUI', 'null':...",{}
4,556036486,patientcount,number,The number of patients on reportDate in each H...,patientcount,5,number,97761022,"{'non_null': '4792', 'largest': '246', 'null':...",{}
5,556036488,data_as_of,calendar_date,Timestamp when the data was last updated in th...,data_as_of,6,calendar_date,140981598,"{'non_null': '4792', 'largest': '2023-08-30T16...",{}
6,556036487,data_loaded_at,calendar_date,Timestamp when the data was last updated here ...,data_loaded_at,7,calendar_date,139064453,"{'non_null': '4792', 'largest': '2023-08-30T17...",{}

In [15]:
first_file.columns

Index(['id', 'name', 'dataTypeName', 'description', 'fieldName', 'position',
       'renderTypeName', 'tableColumnId', 'cachedContents', 'format'],
      dtype='object')

In [9]:
## Loading in the second file
second_file = pd.read_json('https://data.sfgov.org/api/views/rkru-6vcg/columns.json')

In [10]:
second_file

,id,name,dataTypeName,description,fieldName,position,renderTypeName,tableColumnId,width,cachedContents,format
0,377171390,Activity Period,number,,activity_period,1,number,35773473,280,"{'largest': '202306', 'non_null': '26576', 'av...","{'precisionStyle': 'standard', 'noCommas': 'tr..."
1,377171391,Operating Airline,text,,operating_airline,2,text,35773474,304,"{'largest': 'ZIPAIR Tokyo Inc', 'non_null': '2...",{}
2,377171392,Operating Airline IATA Code,text,,operating_airline_iata_code,3,text,35773475,424,"{'largest': 'ZG', 'non_null': '26445', 'null':...",{}
3,377171393,Published Airline,text,,published_airline,4,text,35773476,304,"{'largest': 'ZIPAIR Tokyo Inc', 'non_null': '2...",{}
4,377171394,Published Airline IATA Code,text,,published_airline_iata_code,5,text,35773477,424,"{'largest': 'ZG', 'non_null': '26445', 'null':...",{}
5,377171395,GEO Summary,text,,geo_summary,6,text,35773478,232,"{'largest': 'International', 'non_null': '2657...",{}
6,377171396,GEO Region,text,,geo_region,7,text,35773479,220,"{'largest': 'US', 'non_null': '26576', 'null':...",{}
7,377171397,Activity Type Code,text,,activity_type_code,8,text,35773480,316,"{'largest': 'Thru / Transit', 'non_null': '265...",{}
8,377171398,Price Category Code,text,,price_category_code,9,text,35773481,328,"{'largest': 'Other', 'non_null': '26576', 'nul...",{}
9,377171399,Terminal,text,,terminal,10,text,35773482,196,"{'largest': 'Terminal 3', 'non_null': '26576',...",{}
10,377171400,Boarding Area,text,,boarding_area,11,text,35773483,256,"{'largest': 'Other', 'non_null': '26576', 'nul...",{}
11,377171401,Passenger Count,number,,passenger_count,12,number,35773484,280,"{'largest': '659837', 'non_null': '26576', 'av...",{}

In [16]:
second_file.columns

Index(['id', 'name', 'dataTypeName', 'description', 'fieldName', 'position',
       'renderTypeName', 'tableColumnId', 'width', 'cachedContents', 'format'],
      dtype='object')

In [6]:
import pandas as pd
## Loading in third file
third_file = pd.read_json('https://data.wa.gov/api/views/f6w7-q2d2/columns.json')

In [8]:
third_file

,id,name,dataTypeName,description,fieldName,position,renderTypeName,tableColumnId,format,computationStrategy
0,561974342,VIN (1-10),text,The 1st 10 characters of each vehicle's Vehicl...,vin_1_10,1,text,79309982,{},NaN
1,561974343,County,text,This is the geographic region of a state that ...,county,2,text,79309981,{},NaN
2,561974344,City,text,The city in which the registered owner resides.,city,3,text,79309980,{},NaN
3,561974345,State,text,This is the geographic region of the country a...,state,4,text,80218820,{},NaN
4,561974346,Postal Code,text,The 5 digit zip code in which the registered o...,zip_code,5,text,79309971,{},NaN
5,561974347,Model Year,text,"The model year of the vehicle, determined by d...",model_year,6,text,79309970,{},NaN
6,561974348,Make,text,"The manufacturer of the vehicle, determined by...",make,7,text,79309979,{},NaN
7,561974349,Model,text,"The model of the vehicle, determined by decodi...",model,8,text,79309978,{},NaN
8,561974350,Electric Vehicle Type,text,This distinguishes the vehicle as all electric...,ev_type,9,text,79309976,{'align': 'right'},NaN
9,561974351,Clean Alternative Fuel Vehicle (CAFV) Eligibility,text,This categorizes vehicle as Clean Alternative ...,cafv_type,10,text,79309975,{'align': 'right'},NaN
10,561974352,Electric Range,number,Describes how far a vehicle can travel purely ...,electric_range,11,number,79309974,{'align': 'right'},NaN
11,561974353,Base MSRP,number,This is the lowest Manufacturer's Suggested Re...,base_msrp,12,number,79310342,{'align': 'right'},NaN
12,561974354,Legislative District,number,The specific section of Washington State that ...,legislative_district,13,number,140620854,{'align': 'center'},NaN
13,561974355,DOL Vehicle ID,text,Unique number assigned to each vehicle by Depa...,dol_vehicle_id,14,text,82051518,{},NaN
14,561974356,Vehicle Location,point,The center of the ZIP Code for the registered ...,geocoded_column,15,point,87270515,{},NaN
15,561974358,Electric Utility,text,This is the electric power retail service terr...,electric_utility,17,text,141400529,{},NaN
16,561974362,2020 Census Tract,text,The census tract identifier is a combination o...,_2020_census_tract,18,text,142655072,{},NaN
17,561974360,Counties,number,,:@computed_region_x4ys_rtnd,19,number,87270516,{},"{'source_columns': ['geocoded_column'], 'type'..."
18,561974361,Congressional Districts,number,,:@computed_region_fny7_vc3j,20,number,87270517,{},"{'source_columns': ['geocoded_column'], 'type'..."
19,561974359,WAOFM - GIS - Legislative District Boundary,number,,:@computed_region_8ddd_yn5v,21,number,87270518,{},"{'source_columns': ['geocoded_column'], 'type'..."

In [17]:
third_file.columns

Index(['id', 'name', 'dataTypeName', 'description', 'fieldName', 'position',
       'renderTypeName', 'tableColumnId', 'format', 'computationStrategy'],
      dtype='object')